<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Benvenuti in Films App</h1>
  <h2>Una Web Application per creare un database del cinema</h2>
  <%= link_to "Registrati ora!", '#', class: "btn btn-large btn-primary" %>
</div>
