// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.films tr th:first-child {
  width: 20em;
  + th {
    width: 5em;
    + th {
      width: 5em;
      + th {
        width: 10em;
      }
    }
  }
}
