<footer class="footer">
  <small>
    <a href="http://rzweb.it/">Rzweb</a>
    by Roberto Zaniol
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
